<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./settings.css">
    <link rel="stylesheet" href="./global.css">
    <title>Settings</title>
</head>
<body>
    <form method="post">
        <textarea
        name="data"
        rows="<%= JSON.stringify(config, null, 4).split("\n").length + 1 %>"
        ><%= JSON.stringify(config, null, 4) %></textarea>
        <div>
            <button type="submit">Save</button>
            <button tabindex="-1"><a href="/">Back</a></button>
        </div>
    </form>
</body>
</html>