<ul>
    <% 
        ia.response.forEach(holiday => {
            %>
                <li>
                    <%= holiday.date %> -
                    <%= holiday.name %>
                    <%= holiday.localName === holiday.name ? "" : `(${holiday.localName})` %>
                </li>
            <%
        })
    %>
</ul>