<%
    if(ia.response.img) {
        %>
            <img src="<%= ia.response.img %>" alt="">
        <%
    }
%>
<h2><a target="_blank" href="<%= ia.response.url %>"><%= ia.response.title %></a></h2>
<p><%= ia.response.text %></p>