<%
    if(ia.response.img) {
        %>
            <img src="<%= ia.response.img %>" alt="" class="rounded-box">
        <%
    }
%>
<h2 class="text-2xl"><a target="_blank" href="<%= ia.response.url %>"><%= ia.response.title %></a></h2>
<p><%= ia.response.text %></p>