:root {
    --section-bg: #353c4b;
    --primary-highlight: #8fbcbb;
    --link-color: #88c0d0;
    --txt-color: #e5e9f0;
    --dark-txt-color: #d8dee9;
    --main-bg: #2e3440;
    --element-bg: #3b4252;
    --element-outline-hover: #434c5e;
    --element-outline: #4c566a;
    --small-element-bg: #424b5c;
    --main-font: -apple-system, BlinkMacSystemFont, system-ui, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    --mono-font: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    --main-border-radius: 0.5rem;
    --small-border-radius: 0.25rem;
    --element-padding: 0.35rem;
    --small-element-padding: 0.1rem;
    --section-padding: 0.5rem;
    --light-outline-width: 1.5px;
    --bold-outline-width: 2px;
    --animation-duration: 200ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--txt-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-highlight) transparent;
    outline: none;
    border: none;
    transition: all var(--animation-duration) ease;
}

body {
    background-color: var(--main-bg);
    padding: 3rem;
}