main {
    display: flex;
    padding-top: 1rem;
}

a {
    color: inherit;
    text-decoration: initial;
}

#searchBar > * {
    all: unset;
}

#searchBar {
    border-radius: 0.25rem;
    border: 1px solid #252627;
    display: flex;
    width: max-content;
}

#title {
    font-size: 1.5rem;
}

#searchBar button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBar svg {
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    padding: 0.5rem;
}

#searchBar input {
    width: 500px;
    padding: 0.15rem;
    padding-left: 0.45rem;
}

#searchBar input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50em;
    background: url("/clearSearchBtn.svg") no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

#searchBar input:focus::-webkit-search-cancel-button {
    opacity: 0.3;
    pointer-events: all;
}

.webResults {
    width: 50vw;
}

.webResult {
    margin-bottom: 2rem;
    word-wrap: break-word;
}

.ResultEngines span {
    background-color: #252627;
    padding: 0.1rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
}

.ResultEngines {
    margin-bottom: 0.15rem;
    font-size: 0.65rem;
}

.webResultFormattedUrl {
    color: #999;
    font-size: 0.75rem;
}

.webResultTitle {
    color: #0087b4;
}

.webResultTitle:hover {
    text-decoration: underline;
}

aside {
    margin-right: 1.75rem;
    margin-left: auto;
    max-width: 35vw;
}

aside > div {
    border: 1px solid #252627;
    padding: 0.4rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    margin-top: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin-left: 1rem;
}

nav ul button {
    all: unset;
    cursor: pointer;
}

nav ul li {
    margin-right: 1rem;
}

#top {
    display: flex;
    align-items: center;
}

#settingsTab {
    margin-left: auto;
}

nav ul li[data-current] {
    border-bottom: 0.15rem solid #999;
}

.imageResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imageResult {
    width: 16vw;
    margin: 0.25rem;
}

.imageResult img {
    width: 16vw;
    height: 9vw;
    border-radius: 0.25rem;
    object-fit: cover;
}

.imageResult h2 {
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.2rem;
}

header nav select {
    padding: 0.25rem;
    border: 1px solid #999;
    background-color: unset;
    border-radius: 0.25rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.paginationButton {
    background-color: #252627;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
}

.paginationButton:hover, .paginationButton:focus {
    background-color: #2a2d2e;
}

.paginationPageText {
    font-size: 0.75rem;
    color: #999;
    margin: 0 1rem;
}


.infoboxIa img {
    border-radius: 0.25rem;
    width: 100%;
}

.infoboxIaSourceUrl {
    color: #0087b4;
}


.weatherIa h2 {
    margin-bottom: 0.3rem;
}


.weatherIaDay {
    display: flex;
    margin-bottom: 0.125rem;
}

.weatherIaIcon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.questionsIa > div:not(:last-of-type) {
    margin-bottom: 0.75rem;
}

.programmingIa pre {
    max-width: 100%;
    overflow: scroll;
    padding: 0.25rem;
}

.programmingIa > pre:not(:last-of-type) {
    margin-bottom: 0.75rem;
}