main {
    display: flex;
    padding-top: 1rem;
}

a {
    color: inherit;
    text-decoration: initial;
}

#searchBar > * {
    all: unset;
}

#searchBar {
    border-radius: var(--main-border-radius);
    outline: var(--light-outline-width) solid var(--element-outline);
    background-color: var(--element-bg);
    display: flex;
    width: max-content;
}

#searchBar:hover {
    outline-color: var(--element-outline-hover);
}

#searchBar:focus-within {
    outline-color: var(--primary-highlight);
    outline-width: var(--bold-outline-width);
}

#title {
    font-size: 1.5rem;
    margin-bottom: 0.5ch;
}

#searchBar button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBar img {
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    padding: 0.5rem;
}

#searchBar input {
    width: 100%;
    padding: 0.15rem;
    padding-left: 0.45rem;
}

#searchBar input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50em;
    background: url("/clearSearchBtn.svg") no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

#searchBar input:focus::-webkit-search-cancel-button {
    opacity: 0.3;
    pointer-events: all;
}

.imageResult a:focus img {
    outline: var(--bold-outline-width) solid var(--primary-highlight);
}

.webResults {
    width: 50vw;
    margin-left: calc(0 - var(--section-padding));
}

.webResult {
    background-color: var(--section-bg);
    border-radius: var(--main-border-radius);
    padding: var(--section-padding);
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.webResult:focus-within { 
    border-left: var(--bold-outline-width) solid var(--primary-highlight);
}

.ResultBar span:focus-within {
    outline: var(--light-outline-width) solid var(--primary-highlight);
    display: inline-block;
}

.ResultBar span:not(:last-child) {
    margin-right: 1ch;
}

.ResultBar span {
    background-color: var(--small-element-bg);
    border-radius: var(--small-border-radius);
    padding: var(--small-element-padding);
}

.ResultBar {
    margin-bottom: 0.15rem;
    font-size: 0.65rem;
    display: flex;
}

.right {
    margin-left: auto;
}

.webResultFormattedUrl {
    color: var(--dark-txt-color);
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.webResultTitle {
    color: var(--link-color);
}

.webResultTitle:hover {
    text-decoration: underline;
}

aside {
    margin-left: auto;
    width: 35vw;
}

nav {
    display: flex;
    margin-top: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
}

nav ul button {
    all: unset;
    cursor: pointer;
}

nav ul li {
    margin-right: 1rem;
}

#top {
    display: flex;
    align-items: center;
}

#settingsTab {
    margin-left: auto;
}

#settingsTab:focus {
    outline: none;
    border-bottom: var(--light-outline-width) solid var(--primary-highlight);
    margin-bottom: calc(0 - var(--light-outline-width));
}

nav ul li {
    border-bottom: 0.1rem solid transparent;
}

nav ul li[data-current] {
    border-color: white;
}

nav ul li a:focus {
    outline: none;
}

nav ul li:focus-within {
    border-color: var(--primary-highlight);
}

.imageResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.imageResult {
    width: 16vw;
    margin: 0.25rem;
}

.imageResult img {
    width: 16vw;
    height: 9vw;
    border-radius: 0.25rem;
    object-fit: cover;
}

.imageResult h2 {
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.2rem;
}

.paginationButton {
    background-color: var(--element-bg);
    padding: var(--element-padding);
    border-radius: var(--main-border-radius);
    outline: var(--light-outline-width) solid var(--element-outline);
}

.paginationButton:disabled { cursor: not-allowed; }
.paginationButton:not(:disabled) { cursor: pointer; }

.paginationButton:hover {
    outline-color: var(--element-outline-hover);
}

.paginationButton:focus {
    outline-width: var(--bold-outline-width);
    outline-color: var(--primary-highlight);
}

.paginationPageText {
    font-size: 0.75rem;
    color: var(--dark-txt-color);
    margin: 0 1rem;
}

.iconAndFormattedUrl {
    display: flex;
    align-items: center;
}

.iconAndFormattedUrl img {
    width: 0.85rem;
    height: 0.85rem;
    margin-right: 0.25rem;
    border-radius: 50%;
}

@media only screen and (min-width: 1000px) {
    #searchBar {
        width: 35rem;
    }
}

@media only screen and (max-width: 800px) {
    aside {
        width: 40vw;
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width: 700px) {
    body {
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column-reverse;
    }
    .webResults, aside {
        width: 100%;
    }
    aside {
        margin-left: 0;
    }
    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    body {
        padding: 0.75rem;
    }
    #searchBar {
        width: 100%;
    }
}