body, form {
    height: 100vh;
}

button:hover, textarea:hover {
    outline-color: var(--element-outline-hover);
}

textarea {
    background-color: var(--element-bg);
    outline: var(--light-outline-width) solid var(--element-outline);
    color: var(--txt-color);
    border-radius: var(--main-border-radius);
    font-family: var(--mono-font);
    padding-top: 0.75rem;
    padding-left: 2ch;
    width: 100%;
}

textarea:focus {
    outline-width: var(--bold-outline-width);
    outline-color: var(--primary-highlight);
}

button {
    background-color: var(--element-bg);
    outline: var(--light-outline-width) solid var(--element-outline);
    color: var(--txt-color);
    border-radius: var(--main-border-radius);
    padding: var(--element-padding);
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

button:not(:last-child) {
    margin-right: 0.5ch;
}

button a {
    color: var(--txt-color);
    padding: var(--element-padding);
    text-decoration: none;
    display: block;
}

button[tabindex] {
    padding: 0;
}

button:focus-within, button:focus {
    outline: var(--bold-outline-width) solid var(--primary-highlight);
}